body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    text-align: center;

    background: linear-gradient(270deg, #fde68a, #fbcfe8, #a5f3fc);
    background-size: 600% 600%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

/* HEADER */
header {
    background-color: #172def;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px; 
    box-sizing: border-box;
    z-index: 1000;
}

.logo img {
    width: 200px;
    height: auto;
}

nav {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-right: 50pc;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px; 
}


nav a:hover {
    color: black;
}

.nav-desktop {
    display: block;


}

.nav-mobile {
    display: none;
}

main {
    padding-top: 120px;  
    padding-bottom: 80px;
}

h2 {
    color: #172def;
    margin-bottom: 20px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 90px;
}

.quiz {
    background: white;
    width: 250px;
    margin: 20px 0;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.quiz h3 {
    margin: 10px 0;
}

.quiz a {
    display: inline-block;
    padding: 8px 15px;
    background-color: #172def;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.quiz a:hover {
    background-color: #0f1bb5;
}

footer {
    background-color: #172def;
    color: white;
    padding: 15px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

@media only screen and (max-width: 600px) {

    .container {
        flex-direction: column;
        align-items: center;
    }

    nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }

    .svg-nav-icon {
        height: 25px;
        width: 25px;
        

    }

    .nav-desktop {
        display: none;

    }

    .nav-mobile {
        display: flex;
        font-size: 40px;


    }
    

    .logo img {
        width: 150px;
    }
}
